:root{
   --main-color:#ffffff;
   --primary-color:#757575;
   --second-color: #2F303A;
   --accent-color: #2196F3;
   --paragraph-color: #212121;
   
    }
a{
    text-decoration: none;
  }
ul{  
    list-style-type:none;
}
body{
    font-family: 'Roboto' , sans-serif;
    color: var(--paragraph-color);
    background-color: var(--main-color);
    letter-spacing: 0.03em;
    font-size: 14px;
    
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
/*------HEADER------*/
.logo {
    font-family: 'Raleway';
    color:#2196F3;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
}
.logo-header{
    font-family: 'Raleway';
    color: var(--second-color);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
}
.link-list .link-items:hover,
.link-list .link-items:active{
   color: var(--accent-color);
}
.link-list .link-items{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--paragraph-color);

}

.contacts-mail{
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}
.contacts-tel{ 
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-color);
}
.contacts .contacts-mail:hover ,
.contacts .contacts-mail:active{
    color: var(--accent-color);
}
.contacts .contacts-tel:hover ,
.contacts .contacts-tel:active{
    color: var(--accent-color);
}
/*-----------HERO---------*/
.hero{
background-color: var(--second-color);
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color:var(--main-color);
}

.hero-btn{
    background-color: var(--main-color);
    cursor: pointer;
}
.edge-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color:var(--paragraph-color);
 }   
.meaning{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    color: var(--primary-color);
}
.section-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    color: var(--paragraph-color);

}
.team-name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--paragraph-color);
}
.team-position{   
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    color: var(--primary-color);
}


.btn-list .btn-items:hover,
.btn-list .btn-items:active{
    color: var(--main-color);
    background-color: var(--accent-color);
}
.btn-items{
    cursor: pointer;
}

.project-title{
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.project-text{
    font-size: 16px;
    line-height: 1.88;
    color: var(--primary-color);
}

/*-------FOOTER------*/
.footer{
    background-color:var(--second-color);
}
.logo-link{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--main-color);
}
.footer-links-map{
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--main-color);
}
.footer-links-mail{
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    

}
.footer-links-tel{
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.logo{
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}
.footer-list .footer-links-mail:hover,
.footer-list .footer-links-mail:active{
color: var(--accent-color);
}
.footer-list .footer-links-tel:hover,
.footer-list .footer-links-tel:active{
color: var(--accent-color);
}